@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    font-family: "Open Sans", sans-serif;    
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::selection {
    background: #ffb6c1 ; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffb6c1 ; /* Gecko Browsers */
}

body{
    background-color: #548fa4;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #f755ab
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 10vh;
    font-size: 4vh;
    margin: 3vh 3vw;
    background-color: white !important;
    border-radius: 20px;
    animation: translateZ(0);
}


footer{
    background-color:#548fa4;
    width: 100vw;
    height: 35vh;
    overflow: hidden;
}
.footerContent h4{
    margin-top: 5vh;
    font-size: 2vh;
}
.footerContent p{
    color: white;
}

.footer-item{
    padding: 5vw;
    cursor: pointer;
}
.footer-item:hover{
    color: #f755ab;
}

p{
    color: #548fa4;
    font-weight: bold;
    font-size: 2.75vh
}

hr{
    border-top: 3px solid #548fa4;
    border-radius: 5px;
    width: 45vw;
}
h2{
    text-align: center;
    font-size: 3vh;
}
h3{
    font-size: 2.5vh;
    margin: 2vh 3vw 2vh 3vw;
    text-align: left;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}
.wrap{
    flex-wrap: wrap;
}
.dataContent{
    width: 50vw
}
.column{
    flex-direction: column;
}
.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.space-between{
    align-items: center;
    justify-content: space-around;
}
.icons{
    justify-content: flex-start;
}
.iconsChild{
    padding: 0 10px;
    border-bottom: 0;
    transition: all ease 0.1s;
}
.iconsChild:hover{
    color: #f755ab;
}
.logo{
    width: 6vh;
}

.navItemz{
    padding: 0vw 1.5vw
}
.navbarItem a{
    margin-right: 3vw
}

.homeContainer{
    width: 100vw;
        height: 100vh;
    overflow: hidden;
}
.aboutContainer{
    width: 100vw;
    height: auto;
    background-color: white
}
.aboutContainer p{
    margin: 1.25vh 10vw;
}
.mainLogo{
    width: 50vw;
    height: 50vw;
}
.homeTitle{
    font-size: 12vh
}

.homeTitle2{
    font-size: 4vh
}
.flamingo{
    width: 45vh;
    height: 45vh;
}
.scroll-arrow{
    text-align: center;
    font-size: 65px;
    margin-top: 23vh;
}
.scroll-arrow a{
    color: white;
    transition: all ease 0.5s;
}
.scroll-arrow a:hover{
    color: #f755ab;
}
.aboutContent{
    margin-top: 7vh;
}
.backArrow{
    font-size: 7vh;
    color: white;
    padding: 3vw 0 0 3vw;
    width: 20vw;
}
.backArrow:hover{
    color: black;
}
.APContainer h1{
    font-size: 4vh;
    color: #1a1d22;
    border-bottom: 3px dotted #1a1d22;
}
.APContainer img{
    border: 5px solid black;
    width: 33.5vw;
}
.sectionz{
    width: 100vw;
    height: auto;
    padding: 10px
}

.aboutTitle{
    text-align: center;
    font-size: 5vh;
    color: #1a1d22;
    border-bottom: 3px dotted #548fa4;
}

.scroll-arrow2{
    text-align: center;
    font-size: 65px;
}
.scroll-arrow2 a{
    color: #1a1d22;
    transition: all ease 0.5s;

}
.scroll-arrow2 a:hover{
    color: #f755ab;
}
.learnMoreButton{
    padding: 5px;
    font-size: 1.75vh;
    font-weight: bold;
    width: 20vh;
    height: 5vh;
    border-radius: 10px;
    background-color: #548fa4;
    color: white;
    transition: all linear 0.25s;
    cursor: pointer;
}
.learnMoreButton:hover{
    border: 5px solid #f755ab;
}
.aboutBtnTxt{
    color: white
}
.aboutBtnTxt:hover{
    color: white
}
.aboutImg{
    width: 75vh;
}
.skillsContanier{
   height: auto;
   background: url('./assets/images/backgroundSkills.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.skillsTitle{
    text-align: center;
    font-size: 5vh;
    color: white;
    border-bottom: 3px dotted white;
}
.skillsBox{
    background-color: #1a1d22;
    border-radius: 15px;
    height: 60vh;
    width: 50vw;
}
.skillsBox span{
    padding: 1vh
}
.skillsContent{
    font-size: 2vh;
    padding: 10px;
    color: #548fa4;
}
.skillsSubHeader{
    color: grey;
    border-bottom: 3px solid grey;
    margin: 1vh 0;
}
.boxTittle{
    color: white;
    font-size: 3vh;
    padding: 7px;
    border-bottom: 3px dashed #548fa4;
    padding: 2vh 0 0 0; 
}
.bold{
    color: black;
}
.aboutA{
    color:#1a1d22;
}
.aboutB{
    color:gold;
}
.aboutP{
    color:violet;
}
.aboutM{
    color:black;
    border-bottom: 3px solid red;
}
.aboutPaneltitle{    
    color:#1a1d22;
}
.projectContainer{
    width: 100vw;
    height: auto;
    background-color: white;
    padding: 100px 0
}
.projectOutline{
    width:  37vh;
    height: 37vh;
    background-color: #548fa4;
    border-radius: 25px;
    position: absolute;

    border: 0;
    top: 4vh;
    left: 4vh;
    transition: all 0.2s ease;
}
.projectOutline:hover{
    border-right: 12px solid #f755ab;
    border-bottom: 12px solid #f755ab;
    top: calc(4vh - 12px);
    left: calc(4vh - 12px);
}
.projectOutline img{
    width: 33vh;
    clip-path: circle();
}
.styledOutline{
    width:  45vh;
    height: 45vh;
    margin: 3vw;
    position: relative;

}
.bkwhite{
    background-color: white;
    clip-path: circle();

}
.bkblack{
    background-color: black;
    clip-path: circle();

}
.bkpurple{
    background-color: #2d1493;
    clip-path: circle();

}
.projectModal{
    background-color: #548fa4;
    border-radius: 25px;
    width: 90vw;
    height: 75vh;

}
.projectContent{
    padding: 3vw;
    width: 40vw
}
.projectContent h1{
    color: #1a1d22;
    text-align: left;
    font-size: 6vh;
    font-weight: bold;
}
.projectContent p{
    color: white;
    font-size: 2vh;
    text-align: left;

}
.projectModalIMG{
    width: 60vh;
    height: auto;
}
.CantFindContainer{
    margin-top: 5vh;
    width: 90vw;
    height: 90vh;
    background: url(./assets/images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;

}
.CantFindContainer h1{
    color: #2e3035;
    font-size: 10vh;
    text-align: left;
}
.CantFindContainer h3{
    color: black;
    font-size: 5vh;
    text-align: left;
    margin: 0;
}
.CantFindContainer h4{
    color: black;
    font-size: 3vh;
    text-align: left;
    margin: 0;
}
.content404{
    padding: 10vw;
} 




@media only screen and (max-width: 850px) and (min-width: 280px){
    .mainLogo{
        width: 50vh;
        height: 50vh;
    }
    .flamingo{
        margin-top: 7vh;
        width: 35vh;
        height: 35vh;
    }
    .homeTitle{
        text-align: center;
        font-size: 6vh
    }
    .homeTitle2{
        text-align: center;
        font-size: 2.25vh
    }
    .scroll-arrow{
        text-align: center;
        font-size: 65px;
        margin-top: 7vh;
    }
    p{
        font-size: 1.75vh;
    }
    .aboutImg{
        width: 47vh;
    }
    .aboutContainer{
        width: 100vw;
        height: 100vh;
    } 
    .skillsBox{
        height: 65vh;
        width: 75vw;
    }
    hr{
        width: 60vw
    }
    .skillsContanier{
        height: auto;
        background: url('./assets/images/blank.svg');
     }
     .APContainer h1{
         font-size: 3vh;
     }
     .APContainer img{
        width: 85vw;
        margin-bottom: 2vh
    }
     .dataContent{
        width: 100vw
    }
    .projectModalIMG{
        width: 30vh;       
    }
   .projectContent h1{
       font-size: 4vh;
       text-align: center;
   } 
   .projectContent p{
        font-size: 2vh;
        text-align: center;
    }
    .CantFindContainer{
        background: url(./assets/images/footer2.png);
    }
    .content404{
        padding: 10vw;
    }  
   
}

@media only screen and (max-width: 280px){
    .aboutImg{
        width: 40vh;
    }
    .mainLogo{
        width: 40vw;
        height: 40vw;
    }
}
    