.desktop-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
  width: 100%;
  height: 2rem;
}

.desktop-nav .nav-item {
  margin: auto 1rem;
}

.desktop-nav .nav-item:hover {
  color: var(--secondary-color)
}

